ul.menu, ul.menu ul {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 9.5em;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
  text-transform:capitalize;
}

ul.menu li a, ul.menu ul.menu li a {
  background: #666699;
  color: #fff;	
  padding: 0.5em 0.3em;
}

ul.menu li a:active, ul.menu ul.menu li a:active {
  background: #333366;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
  background: #333366;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #666699;
  color: #000;
  padding-left: 5px;
  padding-right:5px;
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: #333366;
  padding-left: 5px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul.menu ul.menu {
}

ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background: #990033; /*static expanded menu color*/
}
div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}


